@font-face{
	font-family: 'Gentium Book Basic';
	src: local('Gentium Book Basic'),
		 url('./font.woff') format('woff');
}
body {
	margin: 0;
	padding: 0;
}
kbd {
	font-family: inherit;
	font-size: inherit;
}
textarea {
	font-family: inherit;
	font-size: 1.2em;
}
.Resp{
	display: inline-block;
	vertical-align: top;
}
@media screen and (min-width: 481px) {
	body{
		background: linear-gradient(black,#003);
		color: white;
		font-family: 'Gentium Book Basic', serif;
	}
	*{
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	main {
		float: left;
		height: 80vh;
		width: 70vw;
		vertical-align: middle;
		text-align: center;
		line-height: 100%;
	}
	aside {
		float: right;
		background: rgba(255,255,255,0.2);
		height: 80vh;
		width: 27.5vw;
		padding: 1vh 1vw;
	}
	aside ul li{
		display: block;
		height: 4vh;
		border-bottom: solid #003 1px;
		line-height: 2;
	}
	.Resp{

		width: 8vw;
	}
	header{
		width: 100vw;
		height: 19.5vh;
		padding: 1vh 1vw;
	}
	h1{
		display: block;
		font-size: 6vh;
	}
	h1::after {
		content: 'Kyouikuro—ˈmazı Nyuuryokuˈsıėnn';
		display: block;
		font-weight: normal;
		font-size: 5vh;
	}
	textarea{
		display: block;
		border: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-align: center;
		resize: none;
		background: transparent;
		color: #ddd;
		line-height: 1.4;
	}
	textarea:focus{
		outline: 0;
	}
	.toolbox {
		display: none;
	}
}
@media screen and (max-width:480px) {
	kbd {
		font-size: 100%;
	}
	.Title {
		color: #556b2f;
		font-weight: bold;
	}
	#Siyouhou {
		background-color: #f5f5dc;
	}
	#Siyouhou h2 {
		font-size: 1em;
		color: #556b2f;
	}
	#Siyouhou ul {
		list-style: none;
		padding-left: 0 !important;
	}
	/* 仮終わり */
	h1 {
		text-align: center;
		font-size: 1.5em;
		background-color: #556b2f;
		color: #fff;
		margin: 0;
		padding: 0;
		font-weight: normal;
	}
	textarea {
		display: block;
		width: calc(100% - 1rem);
		height: 8rem;
		padding: 0;
		margin: 0.5rem;
	}
	#Siyouhou {
		margin: 0.5em;
		padding: 0.5em;
	}
	#Siyouhou h2 {
		text-align: center;
		margin: 0;
	}
	#Siyouhou h2::before {
		content: '●';
		color: #556b2f;
	}
	#Siyouhou h2::after {
		content: '●';
		color: #556b2f;
	}
	aside ul li {
		border-bottom: #556b2f dotted 1px;
	}
	aside ul li, aside p{
		margin: 0 1rem;
	}
	aside ul li:first-child {
		font-weight: bold;
		color: #556b2f;
	}
	.Resp{
		width: 6rem;
	}
	.toolbox {
		color: white;
		display: block;
		margin: 0.5em;
		width: calc(100% - 2em);
		padding: 0.5em;
		text-align: center;
		font-size: 1em;
	}
	#copy {
		background: #008080;
	}
	#clear {
		background: #005B80;
	}
}